main{
width: 80%;
margin: auto;
}
.stockreturn, form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:30px;
}
td, th{
border-bottom: none;
}

.result{
padding: 10px;
margin-top: 30px;
}

.calculators{
display:flex;
flex-wrap: wrap;
gap:30px;



}

.calculator{
width: 300px;
padding: 10px;
gap:15px;
box-shadow: rgba(83, 88, 218, 0.668) 0px 2px 8px 0px;
display:flex;
flex-direction: column;
justify-content: space-around;
}
.calculator button{
width: 150px;
}

.calculator h2{
font-size: 18px;  
color: rgba(32, 162, 99, 0.879);;
}

h1{
text-align: center;
margin: 30px;
color: rgba(32, 162, 99, 0.879);;
}
.button-link{
text-decoration: none;
background-color: rgba(255, 102, 0, 0.866);
color: rgb(255, 255, 255);
width: 100px;
padding: 10px;
text-align: center;
}

@media  screen and (max-width:800px) {
.calculators{
justify-content: center;
}
.button-link{
    text-decoration: none;
    background-color: rgba(255, 102, 0, 0.866);
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 5px;
    text-align: center;
    }
}