main{
width: 80%;
margin: auto;

}

.stockinput{
padding: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap:30px;
margin-top: 30px;
margin-bottom: 30px;
box-shadow: rgba(165, 57, 179, 0.668) 0px 2px 8px 0px;
height: 30vh;
align-items: center;
border-radius: 18px;
}

input{
padding: 15px;
border-radius: 15px;
width: 500px;
border: 1px solid black;
}




table {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
overflow-x: auto;   
height: auto;
max-height: 700px;
}

th,
td {
text-align:left;
padding: 8px;
border-bottom: 1px solid #ddd;
overflow-x: auto;
}

.styled-table th {
background-color: #f2f2f2;
text-align: left;
}
button{
cursor:pointer;
padding: 9px;
width: 200px;
background-color: rgba(255, 102, 0, 0.866);
color: rgb(255, 255, 255);
border: 1px solid rgba(255, 102, 0, 0.866);
font-family: "Poppins", sans-serif;
font-size: 15px;
border-radius: 18px;
text-align: center;
}

 

.select{
width: 90px;
padding: 5px;
}
.resulttable{
width: 80%;
overflow-x: auto;
position: absolute;
height: auto;
max-height: 600px;
margin: 30px;
}


@media screen and (max-width:800px) {

.stockinput{
padding: 10px;
gap:30px;
margin-top: 30px;
margin-bottom: 30px;
}

input{
padding: 15px;
border-radius: 15px;
width: 100%;
border: 1px solid black;
}

button{
width: 90px;
}
main{
width: 100%;
margin:10px 0px;
padding: 5px;
}
table{
width: 100%;
}
.resulttable{
width: 100%;
overflow-x:auto;
}
th,
td {
font-size: 12px;
padding: 5px;
}

}